<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silentcodder.learningapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Horse_Info"></activity>
        <activity android:name=".Rabbit_Info" />
        <activity android:name=".Zebra_Info" />
        <activity android:name=".Elephant_Info" />
        <activity android:name=".Deer_Info" />
        <activity android:name=".Cow_Info" />
        <activity android:name=".Camel_Info" />
        <activity android:name=".Bear_Info" />
        <activity android:name=".Lion_Info" />
        <activity android:name=".Tiger_Info" />
        <activity android:name=".Animal" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>